=color($type)
  background: var(--#{$type}) linear-gradient(135deg, rgba(#fff, 0.1) 0%, rgba(#000, 0.2) 100%)
  color: var(--white)
  box-shadow: 5px 5px 10px -5px var(--pinot-noir)
  &:hover
    background: var(--#{$type}) linear-gradient(135deg, rgba(#fff, 0.01) 0%, rgba(#000, 0.2) 100%)

=colors
  @each $type in primary success warning error
    &.#{$type}
      +color($type)
