@font-face {
  font-family: 'zex';
  src:  url('fonts/zex.eot?wtn968');
  src:  url('fonts/zex.eot?wtn968#iefix') format('embedded-opentype'),
    url('fonts/zex.ttf?wtn968') format('truetype'),
    url('fonts/zex.woff?wtn968') format('woff'),
    url('fonts/zex.svg?wtn968#zex') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'zex' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-send:before {
  content: "\e949";
}
.icon-search:before {
  content: "\e986";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-face-success:before {
  content: "\e9eb";
}
.icon-face-primary:before {
  content: "\e9f9";
}
.icon-face-warning:before {
  content: "\e9fb";
}
.icon-face-error:before {
  content: "\e9ff";
}
.icon-trash:before {
  content: "\e9ac";
}
