<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Zex
    script(src=config.LOGIN_URL + "scripts/ResuelveLogin.js")
    script(src="/scripts/textEditor/textEditor.js")
    link(rel="stylesheet" href="/scripts/textEditor/textEditor.css")
    
    link(rel="stylesheet", href="/styles/bundle.css?t=" + new Date().getTime())
    script(src="/scripts/vendors.js?t=" + new Date().getTime())
    script(src="/scripts/bundle.js?t=" + new Date().getTime())
  body
    #mainApp
      app
